@import '~angular-ui-bootstrap/dist/ui-bootstrap-csp.css';
@import '~bootstrap/dist/css/bootstrap.css';


.wrapper {
  display: flex;  
  flex-flow: row wrap;
}


header {
  background-color: yellowgreen;
  padding: 25px;
  flex: 1 100%;
  height: 10px;

}

header .h-right {
    display: inline;
    float: right;
  }

header .h-left {
  display: inline;
  float: left;
}


main { 
  height: 100%;
  flex: 4 70%;
  order: 2;
  padding: 25px;
}

aside {
  order: 1;
  flex: 1 auto;
  background-color: beige;
} 
